{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
  },
  "settings": {
    "react": {
      "version": "16.3"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
      "react"
  ],
  "rules": {
    "no-console": "error",
    "comma-dangle": ["error", "always-multiline"],
    "strict": ["error", "global"],
    "curly": "warn"
  }
}